@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 300px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;

}

.naslov {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}


.header {

  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  font-size: 16px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}


.meal {
 
  cursor: pointer;
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.meal:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.meal:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.meal:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}



.meal.reminder {
  border: 5px double whitesmoke;
}

.meal h3 {
  display: flex;
  align-items: center;

}

.datum{
  display: flex;
  align-items: center;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin-bottom: 32px;
}

.form-control label {
  display: block;
  color: #fff;
}

.form-control input {

  font-size: 17px;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.form-control input::placeholder {
  color: #e2e2e2;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left:100px;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 25px;
}

footer {
  color: #fff;
  margin-top: 30px;
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
margin-left:10px;

}

.links{
  color: #fff;
  border: 2px solid #5d0cff;
  border-radius: 50px 20px;

}